@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  font-family: 'Prompt';

}
.dashboardbg{
  background-image: url("../public/dashboardbg.png");
  background-size: 100%;
}


.fadein{
  display: block;
  opacity: 1;
  animation: 0.6s ease-in-out fadein;
}
@keyframes fadein {
  0%{
    display: none;
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.fadeout{
  display: none;
  animation: 0.6s ease-in-out fadeout;
  opacity: 0;
}
@keyframes fadeout {
  0%{
    display: block;
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.quizbg{
  background-image: url("../public/quizbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}